<div class="ane-table-vue" :class="[@tableBorder?'ane-table-vue-border':'']" ms-attr="{id:@$id}">
    <div :class="['ane-table-vue-header']" :css="{paddingRight:@scrollWidth}">
        <ms-table-header 
            :class="['table-vue-table']" 
            :widget="{columns_data:@columns_data,
                header_column:@header_column,
                checkedAll:@checkedAll,
                isdouble:@isdouble,
                handleCheckAll:@handleCheckAll,
                handleSort:@handleSort,
                tableWidth:@tableWidth}">
        </ms-table-header>
    </div>
    <ms-table-body 
        :css = "{top:@bodyTop,bottom:@bodyBottom }"
        :class="['ane-table-vue-body',@tableBodyClass]" 
        :widget="{table_data:@data,
            columns_data:@columns_data,
            tableWidth:@tableWidth,
            actions:@actions,
            checked:@checked,
            key:@key,
            handleCheck:@handleCheck,
            isTitle:@isTitle,
            handleMouseenter:@handleMouseenter,
            handleMouseLeave:@handleMouseLeave,
            mouseenter_row:mouseenter_row}">
    </ms-table-body>
    <div class="ane-table-vue-footer" :if="@footer_show" :css="{paddingRight:@scrollWidth}">
        <ms-table-footer 
            :widget="{footer_data:@footer_data}">
        </ms-table-footer>
    </div>
    <div class="ane-table-vue-fixed-left" 
        :if="@fixedLeft" 
        :class="@is_scrollLeft ? 'is-scroll-left':''" 
        :css="{width:@fixedLeft_width,bottom:@fixed_bottom}">
        <ms-table-header 
            :class="['ane-table-vue-fixedLeft-header']" 
            :widget="{columns_data:@columns_data_left,tableWidth:@tableWidth}">
        </ms-table-header>
        <ms-table-body 
            :class="['ane-table-vue-fixedLeft-body']" 
            :widget="{table_data:@data,
                columns_data:@columns_data_left,
                tableWidth:@tableWidth,
                actions:@actions,
                handleMouseenter:@handleMouseenter,
                handleMouseLeave:@handleMouseLeave,
                mouseenter_row:@mouseenter_row}">
        </ms-table-body>
    </div>
    <div class="ane-table-vue-fixed-right" 
        :if="@fixedRight" 
        :class="@is_scrollRight ? 'is-scroll-right':''" 
        :css="{width:@fixedRight_width,bottom:@fixed_bottom}">
        <ms-table-header 
            :class="['ane-table-vue-fixedRight-header']" 
            :widget="{columns_data:@columns_data_right,tableWidth:@tableWidth}">
        </ms-table-header>
        <ms-table-body 
            :class="['ane-table-vue-fixedRight-body']" 
            :widget="{table_data:@data,
                columns_data:@columns_data_right,
                tableWidth:@tableWidth,
                actions:@actions,
                handleMouseenter:@handleMouseenter,
                handleMouseLeave:@handleMouseLeave,
                mouseenter_row:@mouseenter_row}">
        </ms-table-body>
    </div>
    <div class="ane-table-vue-fixed-right-patch" :if="@fixedPatch" :css="@isdouble ?{height:@bodyTop}:''"></div>
</div>  