@import '../../styles/index';
@table-prefix-cls: ~"@{ane-prefix}-table-vue";

.@{table-prefix-cls} {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &-header {
        //width: 100%;
        overflow: hidden;
        height: auto;

        .table-vue .caret-wrapper{
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            height: 34px;
            width: 24px;
            vertical-align: middle;
            cursor: pointer;
            overflow: initial;
            position: relative;
            //padding-top: 4px;
        }

        .table-vue .sort-caret{
            width: 0;
            height: 10px;
            border: 5px solid transparent;
            position: absolute;
            left: 7px;
        }
        .table-vue .asc .ascending{
            border-bottom-color: #409eff;
        }
        .table-vue .desc .descending{
            border-top-color: #409eff;
        }
        .table-vue .ascending{
            border-bottom-color: #c0c4cc;
            top: 5px;
        }
        .table-vue .descending{
            border-top-color: #c0c4cc;
            bottom: 7px;
        }
        .table-vue .custom-sort{
            cursor: pointer;
        }
    }

    &-body{
        overflow: auto;
        position: relative;
        position: absolute;
        top: 34px;
        left: 0;
        width: 100%;
        bottom: 0;
    }

    &-footer{
        height: 34px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .table-vue tr tb{
            height: 34px;
            line-height: 34px;
            vertical-align: middle;
            text-align: center;
            border-right: 1px solid #a5b4bd;
            border-top: 1px solid #a5b4bd;
        }
        .table-vue tr tb:last-child{
            border-right:none;
        }
    }

    .table-vue{
        //width: 2000px;
        margin-bottom: 0px;
    }

    .table-vue>thead tr th,.table-vue>tbody tr td{
        border-bottom: 1px solid #a5b4bd;
        // border-left: 1px solid #a5b4bd;
        height: 34px;
        text-align: center;
        vertical-align: middle;
        line-height: 34px;
    }

    .generate-columns(99);
    .generate-columns(@n, @i: 1) when (@i =< @n) {
    .col-@{i} {
        width: (@i * 100% / 100);
        display: inline-block;
    }
    .col-double-@{i} {
        width: (@i * 100% / 100);
    }
    .generate-columns(@n, (@i + 1));
    }
}