@import '../../styles/index';
@table-prefix-cls: ~"@{ane-prefix}-table-vue";

.@{table-prefix-cls} {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    // border-left: 1px solid #a5b4bd;
    // border-bottom: 1px solid #a5b4bd;

    &-header {
        //width: 100%;
        overflow: hidden;
        height: auto;
    }

    &-body{
        overflow: auto;
        position: relative;
        position: absolute;
        top: 34px;
        left: 0;
        width: 100%;
        bottom: 0;
    }

    &-footer{
    }

    .table-vue{
        //width: 2000px;
        margin-bottom: 0px;
    }

    .table-vue>thead tr th,.table-vue>tbody tr td{
        border-bottom: 1px solid #a5b4bd;
        // border-left: 1px solid #a5b4bd;
        height: 34px;
        text-align: center;
        vertical-align: middle;
        line-height: 34px;
    }

    .generate-columns(99);
    .generate-columns(@n, @i: 1) when (@i =< @n) {
    .col-@{i} {
        width: (@i * 100% / 100);
        display: inline-block;
    }
    .generate-columns(@n, (@i + 1));
    }
}