<div class="ane-input-tips" :class="@tips_error && @x_show? 'has-error':''">
    <input type="text" class="form-control" :duplex="@text" :blur="@blur" :focus="@focus" :attr="{name:@col,placeholder:@placeholder,type:@type,disabled:@disabled,title:@text}" :css="{width:@width,borderColor: (@tips_error ? @error_color : '')}" data-duplex-changed="@handleChange">
    <span :if="@tips_clear"><i :if="@x_show" class="fa fa-times ane-input-tips-clear" :css="{color:( @tips_error ? @error_color : @success_color)}" :mousedown="@handleClear"></i></span>
    <span :if="@tips_prompt" class="ane-input-tips-prompt"><i class="fa fa-exclamation-circle" :if="@prompt_show" :css="{color: (@tips_error ? @error_color : '')}" :html="@tips_html"></i></span>
</div>